.card {
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  padding: 32px 16px 16px;
  box-sizing: border-box;

  background-color: #fff;
  font-family: $font-family;

  &__image {
    display: block;
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__title {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 4px;
    color: #060b35;
    font-weight: 500;
  }

  &__code {
    color: #616070;
    margin-bottom: 16px;
    font-size: 10px;
    line-height: 14px;
  }

  &__rating {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    display: flex;
  }

  &__reviews {
    color: #060b35;
    font-size: 10px;
    line-height: 14px;
  }

  &__price-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-large;
  }

  &__price-label {
    font-size: $font-size;
    color: $color-gray;
  }

  &__price-value {
    color: #060b35;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
  }

  &__buy {
    display: block;
    text-align: center;
    text-decoration: none;

    padding: 10px 0;
    border-radius: $border-radius;

    background-color: $color-primary;
    color: #fff;
    font-weight: 600;

    border: 1px solid transparent;
    transition:
      background-color 0.3s,
      color 0.3s,
      border-color 0.3s;

    &:hover {
      background-color: #fff;
      color: $color-primary;
      border-color: #0af;
    }
  }
}
